[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = https://github.com/sanbeiicecream/hugo-PaperMod.git
[submodule "content"]
	path = content
	url = git@github.com:sanbeiicecream/content.git
